<html>
<head>
	<title>demo01</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="https://raw.github.com/wycats/handlebars.js/1.0.0-rc.3/dist/handlebars.runtime.js"></script>
	<script type="text/javascript" src="https://raw.github.com/emberjs/ember.js/release-builds/ember-1.0.0-rc.1.js"></script>
	<script type="text/javascript">
		window.App = Ember.Application.create();

		App.ApplicationController = Ember.Controller.extend({
  			firstName: "Trek",
			lastName: "Glowacki"
		});
	</script>
</head>
<body>

<script type="text/x-handlebars" data-template-name="say-hello">
  Hello, <strong>{{firstName}} {{lastName}}</strong>!
</script>

</body>
</html>